*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color: #171717;
    color: #f6f6f6;
}

header{
    padding: 2% 0 0 15%;
}

.navigation{
    display: flex;
    gap: 80px;
}

.link_nav{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: #169ab8;
}

.container{
    padding: 5% 19%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.box-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap:40px;
}

.title{
    font-size: 2.25rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.text{
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo-destaque{
    color: #169ab8;
}

img{
    width: 500px;
    box-shadow: 5px 5px 4px #169ab8;
    border-radius: 10px;
}

.div_link{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.title_midia{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.btn_link{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    background-color: none;
    width: 50%;
    text-align: center;
    border: 2px solid #169ab8;
    border-radius: 16px;
    font-size: 1.5rem;
    padding: 21.5px 0;
    text-decoration: none;
    color:#ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.btn_link:hover{
    background-color: #272727;
}

.fa-instagram{
    color: #C10098;
}

.fa-linkedin{
    color: #0A66C2;
}

.img{
    width: 50%;
}

.footer{
    padding: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    background-color: #169ab8;
    color: #171717;
    text-align: center;
}

@media (max-width: 1200px){
    header{
        padding: 10%;
    }

    .navigation{
        justify-content: center;
    }

    .container{
        flex-direction: column-reverse;        
        padding: 5%;
    }

    .box-container{
        width: auto;
    }
}